numpy
scipy
matplotlib
pandas
sklearn
Cython
progressbar
TensorBoardX
tqdm
pillow
albumentations
apex
torchsummary
future
https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
tensorflow-gpu==2.0.0-alpha0
mxnet-cu100mkl